/*

My Custom CSS
=============

Author:  Danh Vo
Updated: September 2015

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#main {border: 1px solid #e1e1e1; min-height: 500px; padding-bottom: 153px;}




/* --------------------------------------
   Typography
   -------------------------------------- */
body{
   font-family: 'Roboto', sans-serif;
}




/* --------------------------------------
   Header
   -------------------------------------- */
#header{position:relative; z-index: 999;  }
#header .primary{ background-color: #ed1111; box-shadow: inset 0 1px 0 #2A2A2A;}
#header .second{ top:100px; margin-bottom: 5px; }
.top-nav{z-index: 3; width: 100%; position: relative; height: 100px; }
#header .logo{position: absolute; width: 173px; height: 162px; }
#header .logo img{width: 100%; height: 100%;}
#header .searchInput{position: absolute; margin-left:190px; margin-top:40px; width:45%;}
#header .login {position: absolute; color: #fff; list-style: none; font-size:14px; right: 0; line-height: 120px}   
.login a{color: #fff; padding:8px; }
.login a:hover{text-decoration: underline; transition-duration:0.25s;}
.second .bot-menu{margin-left:173px; }
.second ul{width:101%; }
.second ul li{height: 62px; font-weight:600; width:19.6%; margin-right:2px; background: #e8ecf0; font-size: 17px;text-align: center; }
.second ul li:last-child{margin-right:0;}
.second ul li a{color:#111;}
.second ul li:hover{background:#7c3d56; font-weight: 500}
.second ul li:hover a{color:#fff; transition-duration:0.1s; background:#7c3d56;}
#header-responsive{display: none;}
#header-responsive .navbar{background-color:#ed1111; }



/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel{margin-top:165px; width: 100%;}
#myCarousel .item { height: 100%; width: 100%;}



/* --------------------------------------
   Banner
-------------------------------------- */
#banner{width: 100%;margin-top:5px; }
#banner img{width: 100%;}




/* --------------------------------------
   Global Styles
   -------------------------------------- */
.panelSt{border:1px solid #e1e1e1; padding-top: -10px; padding-bottom: 5px; margin-top:5px; margin-bottom: 5px;}
.panelSt h3{font-size: 30px; color:#ed1111; text-align: center;}
.container{width:100%; padding-left: 22px; padding-right: 22px;}
.panelSt img {width: 100%; margin-bottom:20px;  }
.panelSt .pager{margin-top: -56px; }
footer{background-color: #ed1111; color: #fff; text-align: center; padding-top:80px; padding-bottom: 100px; padding-right: 15px}
#map-canvas {width:100%; height: 300px}
html, body,.map { height: 100% }
.input-group-addon:hover, .input-group-addon:focus{ background: #111; color:#fff;}
.navbar-header .navbar-toggle{background: #eee}
.navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover{background: #bababa;}
.icon-bar{background-color: #563d7c;}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	.container{width:100%; padding-left: 0; padding-right: 0;}
}



/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   .container{width:90%;}

	#header-responsive{display: inherit; }
   #header-responsive .navbar-collapse{height:auto; max-height: 1000px;}
   #header{display: none;}
   .navbar-responsive-collapse .nav-menu {border-top: 5px solid #fff; padding-top:5px; }
   .navbar-responsive-collapse .nav-menu li{font-size: 18px; }
   .nav-menu li a{color:#fff;}
   .nav-menu li a:hover, .nav-menu li a:focus{color:#111; background: inherit;}
   .navbar-responsive-collapse .nav-menu li ul{border-left: 2px solid #fff; margin-left:40px;}
   .navbar-responsive-collapse .nav-menu li ul li{font-size: 12px;}
   .navbar-responsive-collapse .nav-menu .login{font-size: 14px; display: inline-block; float: right; }
   .navbar-responsive-collapse .nav-menu .login a{float: left; display: block; }
   
   #myCarousel{margin-top:60px; width: 100%}
   #myCarousel .item { height: 300px; }
   #myCarousel .item img { height: 100%; width: 100%}
   .panelSt .col-sm-4{width: 70%; margin: 0 auto;}
   #main { padding-bottom: 100px;}
   footer{padding-top:50px; padding-bottom: 80px}
   #map-canvas {width:100%; height: 200px}
   
}

/* Large desktop */
@media (min-width: 1200px) {
   .container{width:1082px; padding-left: 22px; padding-right: 22px;}
	#header .login {position: absolute; color: #fff; list-style: none; font-size:18px; right:0px; line-height: 120px}  
   #header .searchInput{margin-left:190px; margin-top:40px; width:54%;} 
   .second ul li{height: 62px; width:19.6%;font-weight:600; margin-right:2px; background: #e8ecf0; font-size: 24px; padding-top: 10px; text-align: center;}
   #myCarousel .item { height: 440px; width: 100%;}
  

}